# Eclipse-generated stuff
/bin/
/.metadata/
/.cache/

# Spoofax stuff
#/editor/*.generated.esv
/editor/java/trans
/include/
/lib/*.generated.str
/syntax/*generated*

utils
lib/runtime
trans/*.generated*
lib-refactoring/*.generated.str
/.cache
/bin
/include
/.cache
/include
/include
/include
/include
/bin
/bin
/bin
/bin
/bin
/bin
/include
/include
/include
/include
/bin
/bin
/include
/.cache
/include
/.cache
/bin
/bin
/include
/bin
/bin
/bin
/bin
/include
/include
/bin
/include
/bin
/bin
/bin
/include
/bin
/bin
native
