# Eclipse-generated stuff
/bin/
/.metadata/
/.cache/

# Spoofax stuff
/editor/*.generated.esv
/editor/java/trans
/include/
/lib/*.generated.str
/syntax/*generated*

utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
