<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="sugar-lang-dummy"
            language="sugar-lang-dummy"
            derivedFrom="DynamicRoot"
            validator="org.sugarj.editor.SugarLangValidator"
            validatorClass="org.sugarj.editor.SugarLangValidator"
      ></language>
   </extension>
   <extension
         id="org.sugarj.editor.parser"
         name="sugar-lang Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.sugarj.editor.SugarLangParseController"
            language="sugar-lang">
      </parser>
   </extension>    
   <extension
             id="SugarJBuilder"
             name="SugarJ builder"
             point="org.eclipse.core.resources.builders">
      <builder callOnEmptyDelta="true">
        <run class="org.sugarj.builder.Builder">
          <parameter name="optimize" value="true"/>
          <parameter name="comment" value="SugarJ Builder"/>
        </run>
      </builder>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <primaryWizard id="org.sugarj.editor.wizard.SugarJNewWizard">
      </primaryWizard>
      <category
            name="Sugar-Lang Wizzards"
            id="Wizzard">
      </category>
      <wizard
            name="Sugar-Lang Project"
            icon="icons/wizard.gif"
            category="Wizzard"
            class="org.sugarj.editor.wizard.SugarLangNewWizard"
            id="org.sugarj.editor.wizard.SugarJNewWizard">
      </wizard>
   </extension> 
</plugin>
