<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="sugar-lang-dummy"
            language="sugar-lang-dummy"
            derivedFrom="DynamicRoot"
            validator="org.sugarj.editor.SugarLangValidator"
            validatorClass="org.sugarj.editor.SugarLangValidator"
      ></language>
   </extension>
   <extension
         id="org.sugarj.editor.parser"
         name="sugar-lang Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.sugarj.editor.SugarLangParseController"
            language="sugar-lang">
      </parser>
   </extension>    
</plugin>
